 @import url("styles/header.css");
 @import url("styles/banner.css");
 @import url("styles/carrossel.css");
 @import url("styles/topicos.css");
 @import url("styles/contato.css");
 @import url("styles/footer.css");

 :root{
    --cor-de-fundo: #ebecee;
    --branco: #ffffff;
    --laranja: #eb9b00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --font-principal:"Poppins";
    --fonte-secundaria: #156db1;
    --fonte-segunda:"Josefin Sans";
    --cinza-footer: #474646;
    --cinza-claro: #858585;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;

}

