.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}
.banner_titulo{

font-size: 17px;
font-weight: 700;
}
.banner_texto{
    font-weight: 500;
    margin: 1em 0;
}
.banner_pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}
.banner_pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--branco);
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px){

    .banner_titulo{
        font-size: 36px;
    }
    .banner_pesquisa{

        width: 50%;
    }
    .banner_pesquisa::placeholder{
        background-position: 6em;
    }
}

@media screen and (min-width: 1728px) {

    .banner_pesquisa{
        width: 35%;
    }
    .banner_pesquisa::placeholder{
        background-position: 11em;
    }
    .banner{
        padding: 5em;
    }
}